/learnSln/learnSln.suo
/learnSln/learnSln.vcproj.shaojingliu-PC.shaojingliu.user
/learnSln/Debug
/learnSln/learnSln.ncb
/learnai/UpgradeLog.XML
/learnai/_UpgradeReport_Files
/learnai/Debug
/learnai/learnSln.ncb
/learnai/learnSln.vcproj.shaojingliu-PC8.shaojingliu.user
/learnai/proj2008.vcproj.shaojingliu-PC8.shaojingliu.user
/learnai/sln2008.suo
